if (flash.error != null)
  .row
    .span16
      .alert-message.error
        = flash.error
else if (flash.success != null)
  .row
    .span16
      .alert-message.success
        = flash.success


.hero-unit
  h1 Bienvenue chez Mr Pourquoi
  <br/>
  p Avez vous déjà été pris par surprise ou resté sans réponse à un "Et pourquoi?" posé par vos enfants ? Avez-vous trouvé une façon amusante de répondre ?
  p Partagez votre question au sein de la communcauté des parents malins et utiliser la réponse la plus créative, drôle pour enfin répondre à vos enfants !
  <br/>
  a(class= 'btn primary large', href= '/question') Poser une question &raquo;

.row
  .span-one-third
    h2 Dernières questions
    p Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
    p
      a(class='btn',href='#') Voir la suite &raquo;

  .span-one-third
    h2 Questions favorites
    p Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
    p
      a(class='btn',href='#') Voir la suite &raquo;

  .span-one-third
    h2 Questions sans réponse
    p Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
    p
      a(class='btn',href='#') Voir la suite &raquo;

